/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif&display=swap');


body {
    font-family: 'Lato', 'Noto Serif', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

header {
    background-color: #1D4D72;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

main {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

section {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    width: 340px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

img {
    border-radius: 8px;
}