/*----------- FORM STYLING --------------*/


/*

* {
    border: 2px solid blue;

}

*/

:root {
    --main-font: 'Lato', 'Noto Serif', sans-serif;
    --main-color: #333;
    --highlight-color: #007BFF;
    --highlight-color-hover: #0056b3; 
}

body {
    font-family: var(--main-font);
    color: var(--main-color);
}

form {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-top: 30px;
    grid-column: span 2;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="range"] {
    display: block;
    width: 100%;
    max-width: 600px;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    background-color: var(--highlight-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--highlight-color-hover);
}

.userForm input:required {
    border-right: solid 8px red;
}

.userForm input:required:valid {
    border-right: solid 8px green;
}

.userForm input[type="submit"] {
    border: none;
    background-color: var(--highlight-color, --highlight-color-hover);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 1rem 2% 1rem 2%;
    box-shadow: 1px 1px 4px #999;
}