@media only screen and (min-width: 32.5em) {
    .picture  img {
        width: 50%;
        height: 50%;
      }

      .hero2 .name h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-family: 'Lato';
    }
}