@media screen and (max-width: 725px) {
    main {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1000px) and (min-width: 726px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    #last_one {
        grid-column: 1 / 3;
    }
}